.slider-container {
  margin-top: 24px;
}

.slider-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.slider-label,
.slider-value {
  font-weight: 600;
}

.clean-slider {
  width: 100%;
  height: 6px;
  background: #e2e3e5;
  accent-color: #0a6190;
  cursor: pointer;
  outline: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
}

.clean-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #0a6190;
  cursor: pointer;
  margin-top: -6px;
}
